@import "../styles/mixin.scss";

.countryInfoContainer {
  width: 72vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  @include media-l {
    width: 90vw;
  }

  @include media-md {
    width: 90vw;
  }

  @include media-sm {
    width: 90vw;
  }

  & .sameInfoName {
    height: 90vh;
    border: 2px solid brown;
    overflow-x: hidden;
    border-radius: 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    @include media-sm {
      height: 73vh;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background-color: brown;
      border-radius: 115px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(252, 148, 13);
      border-radius: 15px;
    }
  }

  & .titleInpContainer {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-l {
      height: 87vh;
    }
    @include media-md {
      height: 85vh;
    }

    @include media-sm {
      height: 73vh;
    }

    & .name {
      height: 82vh;
      width: 20vw;

      @include media-l {
        height: 79vh;
        width: 27vw;
      }

      @include media-md {
        height: 79vh;
        width: 36vw;
      }

      @include media-sm {
        height: 69vh;
        width: 34vw;
      }
    }
  }

  & .backdrop {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  & .loader {
    width: 80px;
    height: 80px;
    border: 5px solid;
    position: absolute;
    top: 40%;
    left: 47%;
    border-color: #ff3d00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  & .info {
    width: 50vw;
    padding: 30px;
    word-wrap: break-word;

    @include media-l {
      height: 87vh;
      width: 60vw;
    }

    @include media-md {
      height: 85vh;
      width: 51vw;
      padding: 15px;
    }

    @include media-sm {
      width: 52vw;
      padding: 15px;
    }
  }
}
