@import "../../styles/mixin.scss";

.countryNameTextContainer {
  &:first-child {
    margin-top: 10px;
  }

  & .countryNameText {
    cursor: pointer;
    background-color: burlywood;
    border: none;
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: start;

    @include media-sm {
      font-size: 14px;
    }
  }
}
